.home-wrap {
    background-color: #EDF1F2;
    overflow: hidden;
    .top {
        height: 572px;
        background-image: url("../../../assets/images/home-bg.png");
    }
    .btn {
        padding: 16px 54px;
        border-radius: 36px;
        cursor: pointer;
    }
    .search-btn {
        .btn();
        border: 1px solid #FFFFFF;
        color: #FFFFFF;

    }
    .create-btn {
        .btn();
        background-color: #fff;
        border: 1px solid #7DB8C4;
        color: #7DB8C4;
    }
    .search-input {
        width: 606px;
        height: 54px;
        border-radius: 20px;
    }
    .content {
        margin-top: 40px;
        padding: 0 10%;
    }
}

@media screen and (min-width: 1500px) {
    app-story-card {
        width: 23.5%;
        margin-right: 2%;
        &:nth-child(4n+4) {
            margin-right: 0;
        }
    }
}
@media screen and (max-width: 1500px) {
    app-story-card {
        width: 32%;
        margin-right: 2%;
        &:nth-child(3n+3) {
            margin-right: 0;
        }
    }
}