<div style="margin:24px 18%;">
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <a (click)="return()"><span nz-icon nzType="home"></span></a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>Create Theme</nz-breadcrumb-item>
  </nz-breadcrumb>
</div>
<section class="bg-white" style="margin: 24px 18% 240px 18%;">
  <div class="pa-lg">
    <div class="text-align-center">
      <span class="form-title">Create Theme</span>
      <img class="float-right" src="assets/images/close.png" alt="" srcset="" style="cursor: pointer;"
        (click)="return()">
    </div>
    <div class="my-lg note text-align-center">
      Create a theme for your story and let more people work with you to create rich and interesting stories!
    </div>

    <form nz-form [formGroup]="validateForm" nzLayout="vertical">
      <nz-form-item>
        <nz-form-label nzRequired>Name</nz-form-label>
        <nz-form-control>
          <input maxlength="200" type="text" nz-input formControlName="name" placeholder="Please enter a name" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzRequired>Intro</nz-form-label>
        <nz-form-control>
          <textarea rows="4" nz-input formControlName="content" placeholder="Please enter the green health content"></textarea>
        </nz-form-control>
      </nz-form-item>


      <nz-form-item>
        <nz-form-label nzFlex="100px" nzRequired>Tags</nz-form-label>
        <nz-form-control>
          <nz-tag *ngFor="let tag of tags" nzMode="closeable" (nzOnClose)="handleClose(tag)">
            {{ tag }}
          </nz-tag>
          <nz-tag *ngIf="!inputVisible && tags.length<5" class="cursor-pointer" nzNoAnimation (click)="showInput()">
            <span nz-icon nzType="plus"></span>
            Custom Tag
          </nz-tag>
          <input
            #inputElement
            nz-input
            maxlength="100"
            nzSize="small"
            formControlName="tagInput"
            *ngIf="inputVisible && tags.length<5"
            type="text"
            style="width: 78px;"
            (blur)="handleInputConfirm()"
            (keydown.enter)="handleInputConfirm()"
          />

          <div class="mt-md">
            <nz-tag class="cursor-pointer" [nzColor]="'volcano'" (click)="checkTag('Mystery')">Mystery</nz-tag>
            <nz-tag class="cursor-pointer" [nzColor]="'orange'" (click)="checkTag('Adventure')">Adventure</nz-tag>
            <nz-tag class="cursor-pointer" [nzColor]="'gold'" (click)="checkTag('History')">History</nz-tag>
            <nz-tag class="cursor-pointer" [nzColor]="'lime'" (click)="checkTag('Fantasy')">Fantasy</nz-tag>
            <nz-tag class="cursor-pointer" [nzColor]="'green'" (click)="checkTag('Comic')">Comic</nz-tag>
            <nz-tag class="cursor-pointer" [nzColor]="'cyan'" (click)="checkTag('Science')">Science</nz-tag>
          </div>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzRequired>Cover Color</nz-form-label>
        <nz-form-control>
          <nz-color-picker formControlName="color"></nz-color-picker> 
        </nz-form-control>
      </nz-form-item>

      <div class="bottom mt-sm flex justify-end">
       <span class="btn-default" (click)="handleSave(1)">Save</span>
        <span class='ml-md btn-primary' (click)="handleSave(2)">Create a Story Now</span>

      </div>
    </form>

  </div>

</section>
