<section class="bg-white pa-lg">
  <div>
    <strong>故事标题混在末日，独自成仙</strong>
    <span class="page-span ml-md">更新中·206章</span>
  </div>

  <div class="intro-ellipsis my-md" style="color: #666;">
    这是一个支离破碎的世界，人类文明在刃兽灾这是一个支离破碎的世界，人类文明在刃兽灾这是一个支离破碎的世界，人类文明在刃兽灾
    文明在刃兽灾这是一个支离破碎的世界，人类文明在刃兽灾
  </div>
  <div class="footer">
    <span>协作者：</span>

    <svg width="24" height="24" data-jdenticon-value="sdgrerygtr"></svg>
    <svg width="24" height="24" data-jdenticon-value="32534tgrthytyrh"></svg>
    <svg width="24" height="24" data-jdenticon-value="fhtrrtjh43534"></svg>
    <label for="">+2</label>
    <span class="mr-xs" style="margin-left: 30px;position: relative;top: 2px;" nz-icon nzType="clock-circle" nzTheme="outline"></span>
    <span>2024-06-16 16:45:08</span>

  </div>



</section>
