<!-- <div style="margin: 24px 18%;">
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <a (click)="return()"><span nz-icon nzType="home"></span></a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a>{{storyName}}</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>新建故事线</nz-breadcrumb-item>
  </nz-breadcrumb>
</div> -->
<section class="bg-white" style="margin: 40px 18% 240px 18%;">
    <div class="pa-lg">
      <div class="text-align-center">
        <span class="form-title">New story</span>
        <img class="float-right" src="assets/images/close.png" alt="" srcset="" style="cursor: pointer;"
          (click)="return()">
      </div>
      <form nz-form [formGroup]="validateForm" nzLayout="vertical">
        <nz-form-item>
          <nz-form-label nzRequired>Name</nz-form-label>
          <nz-form-control>
            <input maxlength="200" type="text" nz-input formControlName="name" placeholder="Please enter a name" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzRequired>Intro</nz-form-label>
          <nz-form-control>
            <textarea rows="4" nz-input formControlName="remarks" placeholder="Please enter the green health content"></textarea>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzRequired>Chapter Title</nz-form-label>
            <nz-form-control>
                <input maxlength="200" type="text" nz-input formControlName="pageName" placeholder="Please enter a name" />
            </nz-form-control>
        </nz-form-item>
  
        <nz-form-item>
          <nz-form-label nzRequired>Chapter Content</nz-form-label>
          <nz-form-control>
            <textarea rows="10" nz-input formControlName="content" placeholder="Please enter the green health content"></textarea>
          </nz-form-control>
        </nz-form-item>
  
        <div class="bottom mt-sm flex justify-end">

          <label class="mt-sm" nz-checkbox formControlName="isFinished">Publish as the final chapter</label>
          <span class='ml-md btn-primary' (click)="handleSave()">Publish</span>
  
        </div>
      </form>
  
    </div>
  
  </section>
  <!-- <div [innerHTML]="validateForm.value.content | html">
  </div>
   -->