<section class="flex flex-column">
  <div class="app-header px-md flex align-center justify-between" [ngClass]="{'sticky': isSticky}">
    <span>
      <img *ngIf="isSticky" class="cursor-pointer" src="assets/images/logo.png" alt="" srcset="" (click)="toHome()">
    </span>
    <!-- <span class="button-span" (click)="aa()">
      连接节点
    </span> -->


    <span *ngIf="!walletAddress" class="button-span" (click)="connectWallet()">
      注册/登录
    </span>

    <!-- <button *ngIf="!walletAddress" nz-button nzType="primary" (click)="connectWallet()">Connect Wallet</button> -->
    <div class="flex align-center" *ngIf="walletAddress">
      <svg class="mr-sm" width="35" height="35" [data-jdenticon-value]="walletAddress"></svg>
      <div title="{{walletAddress}}" class="font-display-3 text-white mr-lg common-ellipsis" style="width: 160px;">
        {{walletAddress}}！</div>
    </div>

  </div>
  <div #myElement class="inner-content flex-1" [ngClass]="{'other-content' : curUrl !== '/index/home'}">
    <router-outlet />
    <div class="divider mt-lg">

    </div>
    <div class="flex justify-center mb-lg mt-md" style="color: rgba(153,153,153,0.8);">
      Copyright © 2024 ONE STORY. All Rights Reserved
    </div>
  </div>


</section>

<nz-spin *ngIf="loading" nzSize="large" nzTip="努 力 上 链 中, 请 稍 等 片 刻 ~">

</nz-spin>
