.form-title {
  font-size: 26px;
}
.page-span {
  font-size: 12px;
  padding: 3px 8px;
  background-color: #eaf3f4;
  color: #7db8c4;
}
.page {
  width: 32%;
  padding: 14px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  border-radius: 4px;
  &.selected {
    background-color: #7db8c4;
    color: #fff;
  }
}
.content {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 26px;
}
.gray {
  color: #999999;
  border-color: #999999;
}
section {
  border-radius: 8px;
}
.catalog-icon {
  padding: 4px;
  position: absolute;
  top:0px;
  right: -60px;
  border-radius: 8px;
  cursor: pointer;
}
.hide {
  display: none;
}
