.top {
    padding: 40px;
    background-color: #fff;
    border-radius: 8px;
    .divider {
        margin: 32px 0;
        border-top: 1px solid #F1F1F1;
    }
}
.search-input {
    width: 214px;
    border-radius: 20px;
}