<div style="margin: 24px 10%;">
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <a (click)="toHome()"><span nz-icon nzType="home"></span></a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>{{story?.ptitle}}</nz-breadcrumb-item>
  </nz-breadcrumb>
</div>
<section style="margin: 24px 10% 40px 10%;">
  <div class="top">
    <div class="flex">
      <div class="mr-lg card-img" [style.background-color]="story?.bgcolor">
        <img src="assets/images/logo2.png" alt="" srcset="">
      </div>
      <div>
        <div style="font-size: 26px;"><strong>{{story?.ptitle}}</strong></div>
        <div class="my-md">发起者：{{story?.creator}}</div>
        <div>
          <span *ngFor="let item of story?.labels" class="common-tag mr-xs">{{item}}</span>
        </div>
        <div class="my-md" style="color: #999;">创建时间：{{story?.createTime}}</div>
        <div>
          <span style="font-size: 20px;">{{story?.viewnum || 0}}</span><label class="ml-xs" style="color: #999;font-size: 12px;" for="">浏览</label>
          <span class="ml-md" style="font-size: 20px;">{{story?.stories?.length}}</span><label class="ml-xs" style="color: #999;font-size: 12px;"
            for="">故事线</label>

            <span class='btn-primary ml-lg' style="margin-bottom: 120px;" (click)="handleSave()">创建故事</span>
        </div>
      </div>
    </div>

    <div class="divider"></div>
    <div class="mb-md" style="font-size: 20px;">
      <strong>简介</strong>
    </div>
    <div>{{story?.introduce}}</div>
  </div>
  <div class="flex justify-between mb-lg" style="margin-top: 40px;">
    <div>
      <span class="filter-span selected">热门作品</span>
      <span class="filter-span">最新作品</span>
    </div>
    <div>
      <label class="mr-lg" nz-checkbox [(ngModel)]="myChecked" (ngModelChange)="searchLine(true)">我参与的</label>
      <nz-input-group class="search-input" nzSearch [nzSuffix]="suffixIcon">
        <input type="text" nz-input placeholder="故事线名称" [(ngModel)]="keyName" (keyup.enter)="searchLine(true)" />
      </nz-input-group>
      <ng-template #suffixIcon>
        <span nz-icon nzType="search"></span>
      </ng-template>
    </div>

  </div>

  <div class="flex flex-wrap justify-start">
    <app-story-line-card class="mb-lg" (click)="toDetail(item)" *ngFor="let item of lineList; let i = index" [line]="item"></app-story-line-card>
  </div>
  <div class="flex flex-column flex-center full-height" *ngIf="!lineList.length">
    <nz-empty style="margin-top: 120px;" nzNotFoundContent=""></nz-empty>
    
  </div>

  <!-- 分页器开始 -->
  <div *ngIf="lineList.length" class="flex justify-center" style="margin-top: 32px;margin-bottom: 60px;">
    <nz-pagination class="mr-sm" (nzPageIndexChange)="nzPageChange($event)" [nzTotal]="page.total" [(nzPageIndex)]="page.page"
      [(nzPageSize)]="page.size" nzShowQuickJumper>
    </nz-pagination>
  </div>
  <!-- 分页器开始 -->




</section>
