section {
    width: 368px;
    height: 218px;
    border-radius: 8px;
    .divider {
        width: 100%;
        border-top: 1px solid #F1F1F1;
    }
    .footer {
        color: #999999;
    }
    cursor: pointer;

  }

  